.node circle {
	fill: #2593B8;
	stroke: #124e63;
	stroke-width: 1.5px;
}

.node text {
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: black;
	fill: black;
}

.node {
	cursor: pointer;
}

path.link {
	fill: none;
	stroke: #333;
	stroke-width: 1.5px;
}

body {
	background-color: white;
	overflow: hidden;
}

span {
	color: #F4F4F4;
	float: right;
}